{% extends 'main_app/main.html' %}
{% load static %}


{% block content %}
<h1>Page for buy/sell .</h1>
<div class="container-fluid">
    <br>
    <div class="container bg-light">
        <!-- Тут будут таблицы для трейда: покупка/продажа -->
        <div class="row justify-content-md-center">

            <div class="col-md-6 border border-black p-3">
                <div class="form-group">
                    <form method="post" id="form" novalidate>
                        {% csrf_token %}
                        Account:
                        {{ account.account }}
                        <br>
                        <hr>
                        Exchange: {{ orderTradeForm.exchange }}
                        <br>
                        <hr>
                        Symbol: {{ orderTradeForm.symbol }}
                        <br>
                        <hr>
                        Type Order: {{ orderTradeForm.type }}
                        <br>
                        <hr>
                        TIF: {{ orderTradeForm.time_in_force }}
                        <br>
                        <hr>
                        Side: {{ orderTradeForm.side }}
                        <br>
                        <hr>
                        Price: {{ orderTradeForm.price }}
                        <br>
                        <hr>
                        Amount: {{ orderTradeForm.quantity }}
                        <br>
                        <hr>

                        <button type="submit" class="btn btn-success">Trade</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container bg-light">
        <div class="row">
            <div class="col-md border border-black p-3" id="divResponder">
                <!-- Добавить сюда вывод из Пост запроса -->
                <!--{{ respondOrder }}-->
                <div class="">


                    <table class="table">

                        <tr>
                            <th>Date</th>
                            <th>Pair</th>
                            <th>Type</th>
                            <th>Side</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Filled</th>
                            <th>Total</th>
                        </tr>
                        {% for order in OpenOrderObj %}
                        <tr>
                            <td>{{order.date}}</td>
                            <td>{{order.pair}}</td>
                            <td>{{order.type}}</td>
                            <td>{{order.side}}</td>
                            <td>{{order.price}}</td>
                            <td>{{order.quantity}}</td>
                            <td>{{order.fills}}</td>
                            <td>{{order.total}}</td>
                            <td><a href="{% url 'cancel_trade' order.id%}" class="btn btn-outline-danger">Cancel</a></td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>
<br>
{% endblock %}